.button {
  padding: 18px 0;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border: 3px solid $white;
  border-radius: 30px;
  cursor: pointer;
}

.button--download {
  display: inline-block;
  color: $white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    line-height: 18px;
  }

  &:hover {
    background-color: $white;
    color: $darkpink;
  }

  &:active {
    background-color: $white;
    color: $darkpink-opacity;
  }
}

.button--primary {
  color: $darkpink;
  border-color: $darkpink;
}

.button--secondary {
  color: $navyblue-opacity;
  border-color: $navyblue-opacity;
}

.button--form {
  padding: 13px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: $white;
  background-color: $green;
  border: 2px solid $green;
  border-radius: 1px;
}
