.copyright {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__text {
  margin-right: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-right: 13px;
  }
}

.copyright__icon {
  display: block;
  margin: 0;
  color: $darkpink;

  &:hover {
    color: $navyblue;
  }

  &:active {
    color: rgba($navyblue, 0.3);
  }
}
