.downloads {
  background-color: $darkblue;
  color: $white;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.downloads__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 300px;
    align-items: flex-start;
    padding: 0;
  }
}

.downloads__button {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.downloads__list {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 33px;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: 46px;
    margin-bottom: 25px;
    column-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
    column-gap: 33px;
  }
}

.downloads__link {
  display: block;
  margin: 0;
  padding: 0;

  &--android {
    padding-top: 3px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 6px;
    }
  }

  &--windows {
    padding-top: 9px;

    @media (min-width: $tablet-width) {
      padding: 0;
    }

    @media (min-width: $desktop-width) {
      padding-top: 7px;
    }
  }
}

.downloads__description {
  margin: 0;
  width: 280px;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    width: 300px;
    font-size: 18px;
    line-height: 24px;
  }
}
