.filters__list {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 27px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    width: auto;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
  }
}

.filters__item {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $gray;
  }

  @media (min-width: $desktop-width) {
    &--border-none {
      border: none;
    }
  }
}

.filters__button-list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 37px;
  list-style-type: none;
  display: flex;
  align-items: center;

  &--mobile {
    @media (min-width: $tablet-width) {
      display: none;
      margin: 0;
      padding: 0;
    }
  }
}

.filters__button {
  position: relative;
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  background-color: $lightgray;
  color: rgba($navyblue, 0.3);
  cursor: pointer;

  &--crop {
    width: 44px;
    height: 44px;
    margin-right: 35px;
  }

  &--fill {
    width: 48px;
    height: 43px;
    margin-right: 35px;
  }

  &--contrast {
    width: 32px;
    height: 32px;
  }

  &--active {
    color: $darkpink;
  }

  &:hover {
    color: rgba($navyblue, 0.5);
  }

  &:active {
    color: $darkpink;
  }
}

.filters {
  &--mobile-hide {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.filters__label {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 7px;

  @media (min-width: $tablet-width) {
    &--crop {
      padding: 9px 5px 24px 0;
    }

    &--fill {
      padding: 26px 5px 24px 0;
    }

    &--contrast {
      padding: 26px 5px 27px 0;
    }
  }

  @media (min-width: $desktop-width) {
    &--crop {
      padding: 9px 0 13px 0;
    }

    &--fill {
      padding: 15px 0 14px 0;
    }

    &--contrast {
      padding: 18px 0 27px 0;
    }
  }
}

.filters__icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;

    &--crop {
      padding-left: 9px;
    }

    &--fill {
      padding-left: 8px;
    }

    &--contrast {
      padding-left: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    &--crop {
      padding-left: 0;
      width: 44px;
      height: 44px;
    }

    &--fill {
      padding-left: 0;
      width: 48px;
      height: 43px;
    }

    &--contrast {
      padding-left: 5px;
      width: 32px;
      height: 32px;
    }
  }
}
