.images {
  padding: 0;
  margin: 0;
  list-style-type: none;
  order: 1;

  @media (min-width: $tablet-width) {
    order: 0;
  }

  @media (min-width: $desktop-width) {
    order: -1;
  }
}

.images__item {
  height: 277px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    height: 481px;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    height: 302px;
  }

  &--desktop-visible {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline-block;
    }
  }
}

.images__image {
  display: inline-block;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 547px;
  }

  @media (min-width: $desktop-width) {
    width: 308px;
    height: 382px;
  }
}
