.images {
  padding: 0;
  margin: 0;
  list-style-type: none;
  order: 1;

  @media (min-width: $tablet-width) {
    order: 0;
  }

  @media (min-width: $desktop-width) {
    order: -1;
  }
}

.images__image {
  display: inline-block;
}

.images__image--monochrome,
.images__image--pink {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}

.images__image--monochrome {
  outline: 2px solid #00ff00;
}

.images__image--pink {
  outline: 2px solid #df187b;
}

.images__image--smile {
  outline: 2px solid #e2af05;
}
