.intro--main {
  padding-top: 29px;
  padding-bottom: 320px;

  @media (min-width: $tablet-width) {
    padding-top: 102px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 114px;
    padding-bottom: 23px;
  }
}

.intro__wrapper {
  padding: 0 20px;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    max-width: 940px;
  }
}

.intro__slogan {
  margin: 0 auto;
  width: 280px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 300px;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 300px;
    font-size: 50px;
    line-height: 68px;
  }
}
