.intro {
  background-image: url("../img/background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $darkblue;
  color: $white;
}

.intro__wrapper {
  padding: 95px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 212px 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 224px 130px 0;
    max-width: 940px;
    margin: 0 auto;
  }
}

.intro__wrapper--photo {
  padding: 110px 20px 84px;
}

.intro__wrapper--form {
  padding: 110px 20px 55px;
}

.intro__slogan {
  margin: 0;
  padding-bottom: 320px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.intro__slogan--main {
  margin-bottom: 34px;
}

.intro__title {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: $white;
}
