.likes {
  display: flex;
}

.likes__button {
  margin-right: 18px;
  color: $darkpink;
}

.likes__count {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $darkpink;
}

.likes--gallery {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
