.likes {
  display: flex;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.likes__button {
  position: relative;
  margin-right: 18px;
  width: 13px;
  height: 12px;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/icon-heart.svg");
    background-repeat: no-repeat;
    background-color: $lightgray;
    width: 13px;
    height: 12px;
    top: 0;
    left: 0;
  }
}

.likes__count {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $darkpink;

  @media (min-width: $tablet-width) {
    padding-top: 1px;
  }
}

.likes--gallery {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
