.main-footer {
  padding: 40px 0;

  @media (min-width: $tablet-width) {
    padding: 24px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 72px 0;
  }
}

.main-footer__wrapper {
  @include wrapper;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-footer__logo {
  width: 200px;
  height: 40px;
  margin-bottom: 38px;

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.main-footer__social {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.main-footer__copyright {
  width: 200px;
}
