.main-header {
  background-image: url("../img/background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $darkblue;
  color: $white;

  @media (min-width: $tablet-width) {
    padding-bottom: 119px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 130px;
  }
}

.main-header__menu {
  background-color: $black-opacity;
}

@media (max-width: 1199px) {
  .main-header__menu--opened {
    background-color: #283645;
  }

  .main-header__menu--opened .main-nav__wrapper {
    border-top: 1px solid $black;
  }
}

.main-header__wrapper {
  padding: 0 20px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    max-width: 940px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.main-header__logo {
  margin: 0;
  padding: 0;
  height: 66px;
  align-self: flex-start;
  outline: 1px solid #00ff00;

  @media (min-width: $tablet-width) {
    height: 110px;
  }
}
