.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  margin: 0 auto;
  padding-top: 38px;
  background-color: $white;
  box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  border-radius: 1px;

  @media (min-width: $tablet-width) {
    width: 460px;
    padding-top: 41px;
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.modal__wrapper {
  padding: 0 20px;
}

.modal__title {
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
    width: 328px;
    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    font-size: 30px;
    line-height: 40px;
  }
}

.modal__description {
  margin: 0 auto;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $navyblue;

  @media (min-width: $tablet-width) {
    width: 320px;
    font-size: 18px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 380px;
    margin-bottom: 39px;
    font-size: 18px;
    line-height: 24px;
  }
}

.modal__error {
  &--close {
    display: none;
  }

  .modal__button-wrapper {
    padding: 42px 0 51px;

    @media (min-width: $tablet-width) {
      padding: 34px 0 53px;
    }

    @media (min-width: $desktop-width) {
      padding: 51px 0;
    }
  }

  .modal__description {
    margin-bottom: 0;

    @media (min-width: $desktop-width) {
      margin-bottom: 63px;
    }
  }
}

.modal__success {
  &--close {
    display: none;
  }

  .modal__button-wrapper {
    background-color: $lightgray;

    @media (min-width: $tablet-width) {
      padding: 50px 0 52px;
    }
  }

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    .modal__button {
      width: 456px;
    }
  }
}

.modal__button-wrapper {
  padding: 52px 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0 54px;
  }

  @media (min-width: $desktop-width) {
    background-color: $lightgray;
  }
}

.modal__button {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}
