.panorama {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
  }
}

.panorama__image {
  width: 100%;
  display: block;
  outline: 1px solid $darkpink;

  @media (min-width: $tablet-width) {
    height: 509px;
  }

  @media (min-width: $desktop-width) {
    height: 506px;
  }
}

.panorama__link {
  &--label {
    position: relative;

    &::after {
      content: "Панорама дня";
      position: absolute;
      width: 140px;
      padding: 6px 0;
      background-color: $darkpink;
      font-weight: 700;
      font-size: 12px;
      line-height: 24px;
      text-transform: uppercase;
      color: $white;
      top: 0;
      right: 20px;

      @media (min-width: $tablet-width) {
        top: 57px;
      }

      @media (min-width: $desktop-width) {
        top: 54px;
        right: 131px;
      }
    }
  }
}

.panorama__wrapper {
  @include wrapper;
}
