.prices {
  padding: 100px 0 45px;
  background-color: $lightgray;
}

.prices__wrapper {
  margin: 0 auto;
  min-width: 320px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    min-width: 640px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
    max-width: 940px;
  }
}

.prices__table {
  width: 100%;
  border-collapse: collapse;
}

.prices__table-header {
  width: 275px;
  padding: 19px 10px 35px;
  box-sizing: border-box;
  background-color: $navyblue;
  border: 2px solid $navyblue;
}

.prices__table-header--empty {
  background-color: transparent;
  border: none;
}

.prices__table-title {
  margin: 0;
  padding: 0;
  color: $white;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.prices__table-price {
  color: $white;
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.prices__table-item {
  padding: 23px 65px 23px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: $navyblue;
  background-color: $white;
  text-transform: uppercase;
  text-align: left;
  border: 2px solid $gray;
  border-radius: 1px;

  &--include {
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    width: 31px;
    height: 21px;
  }

  &--not-include {
    background-image: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-position: 50%;
    width: 31px;
    height: 21px;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 24px 17px 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 65px 23px 22px;
  }
}
