.reviews {
  padding: 41px 0 29px;

  @media (min-width: $tablet-width) {
    padding: 55px 0 7px;
  }

  @media (min-width: $desktop-width) {
    padding: 184px 0 9px;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-size: 79px 63px;
    background-position: top 72px center;
  }
}

.reviews__wrapper {
  @include wrapper;
}

.reviews__list {
  padding-bottom: 24px;
  position: relative;
}

.reviews__item {
  margin: 0;
}

.reviews__author-info {
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    width: 688px;
  }
}

.reviews__author-name {
  margin-bottom: 13px;
  display: block;
  color: $black;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    order: 2;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 2px;
    font-size: 24px;
  }
}

.reviews__author-bio {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    margin-bottom: 4px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 30px;
  }
}

.reviews__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
    font-size: 18px;
  }
}

.reviews__prev,
.reviews__next {
  display: none;
  padding: 0;
  width: 22px;
  height: 41px;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  color: rgba($navyblue, 0.3);

  @media (min-width: $desktop-width) {
    display: block;
  }

  &:hover {
    color: rgba($navyblue, 0.6);
  }

  &:active {
    color: rgba($navyblue, 0.1);
  }
}

.reviews__next {
  transform: rotate(180deg);
}
