.science__wrapper {
  padding: 0 20px;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    padding: 0 130px;
  }
}

.science__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $black;
}

.science__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.science__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkpink;
}
