.science {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 96px;
    padding-bottom: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 159px;
    padding-bottom: 111px;
    background-color: $lightgray;
  }
}

.science__wrapper {
  @include wrapper;
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      background-image: url("../img/timer-tablet.png");
      width: 238px;
      height: 276px;
      top: -42px;
      left: 20px;
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/timer-desktop.png");
      width: 298px;
      height: 345px;
      top: -93px;
      left: 131px;
    }
  }
}

.science__info {
  @media (min-width: $tablet-width) {
    padding-left: 310px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 370px;
  }
}

.science__title {
  margin: 0;
  margin-bottom: 10px;
  width: 168px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: start;
  color: $black;

  @media (min-width: $desktop-width) {
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 23px;

    br {
      display: none;
    }
  }
}

.science__description {
  width: 310px;
  margin: 0;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: start;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }

  & .science__description--desktop-br {
    display: none;
  }

  @media (min-width: $desktop-width) {
    width: 534px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 30px;

    br {
      display: none;
    }

    & .science__description--desktop-br {
      display: block;
    }
  }
}

.science__link {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $darkpink;
  text-align: start;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
