$white: #ffffff;
$black: #000000;
$black-opacity: rgba($black, .3);
$lightgray: #f2f2f2;
$gray: #e5e5e5;
$navyblue: #283645;
$navyblue-opacity: rgba($navyblue, .1);
$darkblue: #1d2631;
$darkpink: #d22856;
$green: #2aab6d;
