@import "global/variables.scss";
@import "global/fonts.scss";
@import "global/global.scss";
@import "mixins/wrapper.scss";
@import "blocks/page.scss";
@import "blocks/main-header.scss";
@import "blocks/main-nav.scss";
@import "blocks/main-container.scss";
@import "blocks/intro.scss";
@import "blocks/downloads.scss";
@import "blocks/images.scss";
@import "blocks/features.scss";
@import "blocks/science.scss";
@import "blocks/reviews.scss";
@import "blocks/prices.scss";
@import "blocks/contacts.scss";
@import "blocks/main-footer.scss";
@import "blocks/social.scss";
@import "blocks/copyright.scss";
@import "blocks/page-title.scss";
@import "blocks/gallery.scss";
@import "blocks/panorama.scss";
@import "blocks/content.scss";
@import "blocks/likes.scss";
@import "blocks/uploads.scss";
@import "blocks/filters.scss";
@import "blocks/custom-range.scss";
@import "blocks/button.scss";
@import "blocks/application.scss";
@import "blocks/control.scss";
@import "blocks/user.scss";
@import "blocks/modal.scss";
